<app-seccion-titulos [titulo]="'Nueva solicitud extraordinaria al proveedor'" [retorno]="true"
                     [ruta]="'/privado/solicitud-extraordinaria-proveedor'"></app-seccion-titulos>

<div class="principal">

  <app-seccion-busqueda [titulo]="'Ingredientes a solicitar'">
    <div class="divformulario background-white">
      <form [formGroup]="filtroForm">

        <!-- Campos -->
        <article class="grid">

          <div class="lg:col-3 col-12">

            <div class="flex justify-content-between">
              <label class="label-input">
                Ingrediente
              </label>
            </div>

            <div class="ingrediente-search-container">

              <!-- INPUT -->

              <div class="search-input-wrapper">
                <input
                  class="w-full"
                  pInputText
                  type="text"
                  formControlName="ingredienteTexto"
                  placeholder="Buscar"
                  (input)="filtrarIngredientes()"
                  (focus)="mostrarLista = true" />

                <i class="placa-busqueda icon-search"></i>

              </div>

              <!-- LISTA -->

              @if (mostrarLista && ingredientesFiltrados.length > 0) {

                <div class="lista-ingredientes">

                  @for (ingrediente of ingredientesFiltrados;
                    track ingrediente.idIngrediente) {

                    <div
                      class="item-ingrediente"
                      (click)="seleccionarIngrediente(ingrediente)">

                      {{ ingrediente.desIngrediente }}

                    </div>

                  }

                </div>

              }

            </div>

          </div>


          <div class="lg:col-3 col-12">

            <div class="label-container">

              <label class="label-input">
                Presentación
              </label>


            </div>

            <p-select
              formControlName="presentacion"
              [options]="presentaciones"
              optionLabel="desPresentacion"
              optionValue="idPresentacion"
              placeholder="Selecciona una opción"
              class="w-full custom-dropdown ph-custom">
            </p-select>

          </div>

          <div class="lg:col-3 col-12">

            <div class="label-container">

              <label class="label-input">
                Cantidad
              </label>


            </div>


            <input
              pInputText
              type="number"
              min="0"
              class="w-full"
              placeholder="Ingresar"

              formControlName="cantidad"
            />


          </div>

          <div class="lg:col-3 col-12 flex justify-content-start align-items-end">
            <button
              pButton
              type="button"
              class="btn-agregar-ingrediente" [disabled]="filtroForm.invalid" (click)="agregarIngrediente()">


              <i class="placa-add"></i>

              <span>Agregar ingrediente</span>

            </button>
          </div>


        </article>


      </form>
    </div>
  </app-seccion-busqueda>

  <app-tabla-nueva-solicitud [data]="listIngredientes" [edicion]="true"></app-tabla-nueva-solicitud>
</div>

<div class="contenedor-botones">
  <p-button
    type="button"
    label="Cancelar"
    styleClass="boton-cancelar">
  </p-button>


  <p-button
    type="button"
    label="Guardar solicitud"
    (click)="guardar()"
    styleClass="btn-background"
    [style]="{'width':'150px'}">
  </p-button>

</div>
