:root {
  --surface-placa: #F2F3F5;
  --bs-primary-hex-green-color: #0AA16E;
  --p-button-primary-background: #08865C;
  --p-button-primary-border-color: #08865C;
  --p-toggleswitch-checked-background: #5FD350;
  --p-button-text-danger-color: #FF5B5E;
}
