.footer-borde-inferior {
  height: 5px;
  background-color: #BC955C;
}

.footer-apartado-imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px 0;
}

.footer-apartado-imagen .logo {
  margin: 10px 0;
}
