<div class="flex justify-content-between align-items-center px-4 py-3 mb-2 lg:mb-0">

  <div class="flex align-items-center">
    <p-button variant="text" icon="pi pi-bars"/>
    <img src="temporal/logo_imss2.png" alt="Logo IMSS" class="mr-3"/>
    <div class="hr-vertical mx-0 me-3"></div>
    <span class="border-circle bg-green mr-2">PC</span>
    <span>Planeación y Control de Alimento</span>
  </div>

  <div class="flex align-items-center gap-3">
    <div class="text-center">
      <span class="text-overflow-ellipsis block font-medium">
        Adrian Reyes Torres
      </span>
      <span class="text-overflow-ellipsis text-sm text-600 block">
        HGZ 27
      </span>
    </div>

    <button type="button" class="p-link flex align-items-center justify-content-center p-1 border-circle hover:surface-100 transition-colors">
      <img src="assets/images/User_info.svg" alt="Usuario" class="w-2rem h-2rem"/>
    </button>

  </div>
</div>
