<div class="flex justify-content-between align-items-center px-6 py-3 mb-2 lg:mb-0 navbar-bg">

  <div class="flex align-items-center gap-4">
    <div class="navbar-menu-btn flex justify-content-center align-items-center">
      <i class="pi pi-bars" style="font-size: 26px;"></i>
    </div>
    <div class="flex justify-content-center align-items-center">
      <p class="mb-0 nombre-institucion">IMMS</p>
    </div>
    <div class="hr-vertical mx-0 me-3"></div>
    <span class="navbar-abreviatura">PC</span>
    <span class="navbar-titulo-proyecto">Planeación y Control de Alimento</span>
  </div>

  <div class="flex align-items-center gap-3">
    <div class="flex flex-column gap-2 justify-content-center align-items-center">
      <span class="text-overflow-ellipsis font-medium navbar-usuario">
        Adrian Reyes Torres
      </span>
      <span class="text-overflow-ellipsis navbar-unidad">
        HGZ 27
      </span>
    </div>
    <div class="flex justify-content-center align-items-center">
      <img [src]="'temporal/User_info.svg'" alt="Icono para acceder a opciones de sesión del usuario"
           (click)="op.toggle($event)" />
    </div>
    <p-popover #op styleClass="nav-popover">
      <div class="bg-menu-btn p-3 border-round-top">
        <div class="flex justify-content-between align-items-start">
          <div class="flex gap-2">
            <img [src]="'temporal/User_info.svg'" />
            <div class="ml-1">
              <p class="font-bold text-lg mb-0">
                Mariana Abigail Leon Vargas
              </p>
              <p class="font-bold text-lg mb-0">
                Matrícula 3311002784
              </p>
              <p class="font-bold text-lg mb-0">
                Nutricionista
              </p>
            </div>
          </div>
          <i class="pi pi-times cursor-pointer" style="font-size: 1.2rem;"></i>
        </div>
      </div>
      <div style="min-width: 400px" class="p-3">
        <div class="flex flex-column gap-3">
          <div class="flex flex-column gap-1">
            <small>OOAD</small>
            <span>Prueba</span>
          </div>
          <div class="flex align-items-center gap-2">
            <div class="flex flex-column gap-1">
              <small>Unidad</small>
              <span>Prueba</span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex justify-content-start align-items-center gap-2 border-round-bottom card py-3 px-2 flex-row cursor-pointer hover:surface-200"
        style="background-color: #FFFBFF;">
        <i class="pi pi-sign-out" style="font-size: 1.2rem;"></i>
        <span class="text-xl">Cerrar Sesión</span>
      </div>
    </p-popover>
  </div>
</div>
