<div class="flex justify-content-between align-items-center px-6 py-3 mb-2 lg:mb-0 navbar-bg">

  <div class="flex align-items-center gap-4">
    <div class="navbar-menu-btn flex justify-content-center align-items-center">
      <i class="pi pi-bars cursor-pointer" style="font-size: 26px;" (click)="$event.stopPropagation(); menuVisible.set(!menuVisible())"></i>
    </div>
    <div class="flex justify-content-center align-items-center">
      <p class="mb-0 nombre-institucion">IMMS</p>
    </div>
    <div class="hr-vertical mx-0 me-3"></div>
    <span class="navbar-abreviatura">PC</span>
    <span class="navbar-titulo-proyecto">Planeación y Control de Alimento</span>
  </div>

  <div class="flex align-items-center gap-3">
    <div class="flex flex-column gap-2 justify-content-center align-items-center">
      <span class="text-overflow-ellipsis font-medium navbar-usuario">
        Adrian Reyes Torres
      </span>
      <span class="text-overflow-ellipsis navbar-unidad">
        HGZ 27 Tlatelolco
      </span>
    </div>
    <div class="flex justify-content-center align-items-center">
      <img [src]="'assets/Images/user.svg'" alt="Icono para acceder a opciones de sesión del usuario"
           (click)="op.toggle($event)" />
    </div>
    <p-popover #op styleClass="nav-popover">
      <div class="border-round-top relative">
        <div class="absolute text-white" style="top: 10px; right: 10px; left: auto;">
          <i class="pi pi-times cursor-pointer text-xl" (click)="op.hide()"></i>
        </div>
        <div class="popover-header border-round-top">
          <div class="flex align-items-start gap-2">
            <div class="flex justify-content-start">
              <img [src]="'assets/Images/user.svg'" alt="Imagen informativa de icono de usuario generico" />
            </div>
            <div class="ml-1 flex flex-column gap-2">
              <p class="mb-0 popover-usuario">
                Mariana Abigail Leon Vargas
              </p>
              <p class="mb-0 popover-matricula">
                Matrícula 3311002784
              </p>
              <p class="mb-0 popover-puesto">
                Nutricionista
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="popover-body">
        <div class="flex align-items-start gap-2">
          <div class="flex justify-content-start">
            <img [src]="'assets/Images/workplace.svg'" />
          </div>
          <div class="flex flex-column">
            <div class="flex flex-column">
              <p class="popover-label">OOAD</p>
              <p class="popover-valor">Aguascalientes</p>
            </div>
            <div class="flex align-items-center">
              <div class="flex flex-column">
                <p class="popover-label">Unidad</p>
                <p class="popover-valor">umf 1 Las Margaritas</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex justify-content-start align-items-center gap-2 border-round-bottom card flex-row cursor-pointer hover:surface-200 popover-footer"
        style="background-color: #FFFBFF;">
        <i class="placa-cerrar-sesion" style="font-size: 1.2rem;"></i>
        <span class="text-xl">Cerrar Sesión</span>
      </div>
    </p-popover>
  </div>
</div>

<app-menu-interno
  [visible]="menuVisible()"
  (onClose)="menuVisible.set(false)">
</app-menu-interno>
