.alert {
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.alerta-success {
  background: #E4FAE8;
  border-color: #A3CFBB;
  color: #0A3622;
}
