.titulo-seccion-template {
  padding: 8px 16px;
  background-color: #F4F7FC;
  color: #374957;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0;
}

.id-leyenda {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
}
