<div class="table-container surface-card shadow-1 border-round surface-border border-1">

<!-- =====================================================
       HEADER
       ===================================================== -->

  <div class="div-header">

    <span class="texto-header">
        Resultado de la búsqueda
    </span>

    <div class="header-minuta">

        <span class="dato">
            {{ periodo }}
        </span>

        @if (tipoBusqueda === 'minuta') {

            <div class="fecha-navegacion">

                <button
                    type="button"
                    class="btn-fecha">

                    <i class="placa-flecha-izq"></i>

                </button>

                <div class="fecha-actual">
                    {{ fecha }}
                </div>

                <button
                    type="button"
                    class="btn-fecha">

                    <i class="placa-flecha-der"></i>

                </button>

            </div>

        }

        @if (tipoBusqueda === 'periodo') {

            <p-button
                type="button"
                styleClass="btn-nueva-solicitud">

                <span>Duplicar periodo</span>

            </p-button>

        }

    </div>

</div>

<p-tabs value="desayuno">

    <p-tablist>

        <p-tab value="desayuno">
            <i class="placa-desayuno mr-2"></i>
            Desayuno
        </p-tab>

        <p-tab value="comida">
            <i class="placa-comida mr-2"></i>
            Comida
        </p-tab>

        <p-tab value="cena">
            <i class="placa-cena mr-2"></i>
            Cena
        </p-tab>

        <p-tab value="colacion">
            <i class="placa-colacion mr-2"></i>
            Colación
        </p-tab>

    </p-tablist>

    <p-tabpanels>

        <p-tabpanel value="desayuno">

            @if(desayuno){

         <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;">
                   <p-button
    type="button"
    styleClass="btn-modificar-raciones">

    <i class="placa-pencil"></i>

    <span>Modificar raciones seleccionadas</span>

</p-button>
    </div>
            <app-tabla-servicio-minuta
                [servicioMinuta]="desayuno"
                >
            </app-tabla-servicio-minuta>
            <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;margin-top: 1rem;">
                   <p-button
    type="button"
    styleClass="btn-modificar-raciones">



    <span>Restablecer valores anteriores</span>

</p-button>
<p-button
            type="button"
            label="Guardar"
            [style]="{'width':'125px'}"  >
          </p-button>
    </div>
        }
        </p-tabpanel>

        <p-tabpanel value="comida">
@if(comida){
    <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;">
                   <p-button
    type="button"
    styleClass="btn-modificar-raciones">

    <i class="placa-pencil"></i>

    <span>Modificar raciones seleccionadas</span>

</p-button>
    </div>
            <app-tabla-servicio-minuta
                [servicioMinuta]="comida">

            </app-tabla-servicio-minuta>
             <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;margin-top: 1rem;">
                   <p-button
    type="button"
    styleClass="btn-modificar-raciones">



    <span>Restablecer valores anteriores</span>

</p-button>
<p-button
            type="button"
            label="Guardar"
            [style]="{'width':'125px'}"  >
          </p-button>
    </div>
        }
        </p-tabpanel>

        <p-tabpanel value="cena">
 @if(cena){
    <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;">
                   <p-button
    type="button"
    styleClass="btn-modificar-raciones">

    <i class="placa-pencil"></i>

    <span>Modificar raciones seleccionadas</span>

</p-button>
    </div>
            <app-tabla-servicio-minuta
                [servicioMinuta]="cena">
            </app-tabla-servicio-minuta>
             <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;margin-top: 1rem;">
                   <p-button
    type="button"
    styleClass="btn-modificar-raciones">



    <span>Restablecer valores anteriores</span>

</p-button>
<p-button
            type="button"
            label="Guardar"
            [style]="{'width':'125px'}"  >
          </p-button>
    </div>
        }
        </p-tabpanel>

        <p-tabpanel value="colacion">
    @if(colacion){
        <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;">
                   <p-button
    type="button"
    styleClass="btn-modificar-raciones">

    <i class="placa-pencil"></i>

    <span>Modificar raciones seleccionadas</span>

</p-button>
    </div>
            <app-tabla-servicio-minuta
                [servicioMinuta]="colacion">
            </app-tabla-servicio-minuta>

             <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;margin-top: 1rem;">
                   <p-button
    type="button"
    styleClass="btn-modificar-raciones">



    <span>Restablecer valores anteriores</span>

</p-button>
<p-button
            type="button"
            label="Guardar"
            [style]="{'width':'125px'}"  >
          </p-button>
    </div>
        }
        </p-tabpanel>


    </p-tabpanels>

</p-tabs>
</div>
