<div class="header-platillo">

    <!-- BOTON REGRESAR -->

    <button
        pButton
        type="button"
        class="btn-regresar"
        (click)="regresar()">

        <img
            src="assets/Images/regresar.png"
            alt="Regresar"
            class="icon-regresar" />

    </button>

    <!-- LINEA -->

    <div class="divider-vertical"></div>

    <!-- TITULO -->

    <span class="titulo">
        Nuevo platillo
    </span>

</div>
<div class="principal">
     <!-- Header -->
    <div class="div-header">
        <span class="texto-campo font-semibold">
            Información del platillo
        </span>
    </div>
 <div class="divformulario background-white">
     <form [formGroup]="filtroForm">

            <!-- Campos -->
            <article class="grid">

                <!-- Nombre o clave -->
                <div class="lg:col-3 col-12">

                    <div class="label-container">

    <label class="field-label">
        Nombre
    </label>

    <span class="required-text">
        Obligatorio
    </span>

</div>

               

                        <input
                            pInputText
                            type="text"
                            class="w-full"
                            placeholder="Ingresar"
                            
                            formControlName="nombre"
                        />

               

                </div>

                <!-- Grupo -->
                <div class="lg:col-3 col-12">

                    <div class="label-container">

    <label class="field-label">
            Grupo
    </label>

    <span class="required-text">
        Obligatorio
    </span>

</div>

                    <p-select
                        formControlName="grupo"
                        [options]="gruposPlatillo"
                        optionLabel="desGrupoPlatillo"
                        optionValue="idGrupoPlatillo"
                        placeholder="Selecciona una opción"
                        class="w-full custom-dropdown ph-custom">
                    </p-select>

                </div>

                <!-- Subgrupo -->
                <div class="lg:col-3 col-12">

                    <div class="label-container">

    <label class="field-label">
            Subgrupo
    </label>

    <span class="required-text">
        Obligatorio
    </span>

</div>

                    <p-select
                        formControlName="subgrupo"
                        [options]="subgruposPlatillo"
                        optionLabel="desSubgrupoPlatillo"
                        optionValue="idSubgrupoPlatillo"
                        placeholder="Selecciona una opción"
                        class="w-full custom-dropdown ph-custom">
                    </p-select>

                </div>

                <!-- Estatus -->
                <div class="lg:col-3 col-12">

                    <div class="label-container">

    <label class="field-label">
        Estatus
    </label>

    <span class="required-text">
        Obligatorio
    </span>

</div>

                    <p-select
                        formControlName="estatus"
                        [options]="estatusPlatillo"
                        optionLabel="desEstatusPlatillo"
                        optionValue="idEstatusPlatillo"
                        placeholder="Selecciona una opción"
                        class="w-full custom-dropdown ph-custom">
                    </p-select>

                </div>

            </article>

                    <div class="section-title-container">

            <span class="section-title">
                Ingredientes del platillo
            </span>

        </div>
<div>

</div>

      

        </form>

        <div>
              <form [formGroup]="ingredienteForm">
<article class="grid">
      <div class="lg:col-3 col-12">

                    <div class="flex justify-content-between">
                        <label class="field-label">
                            Ingrediente
                        </label>
                    </div>

                    <div class="ingrediente-search-container">

    <!-- INPUT -->

    <div class="search-input-wrapper">

        <input
            pInputText
            type="text"
            class="input-ingrediente"
            placeholder="Buscar"
            formControlName="ingrediente"
            (input)="filtrarIngredientes()"
            (focus)="mostrarLista = true" />

        <i class="pi pi-search icon-search"></i>

    </div>

    <!-- LISTA -->

    @if (mostrarLista && ingredientesFiltrados.length > 0) {

        <div class="lista-ingredientes">

            @for (
                ingrediente of ingredientesFiltrados;
                track ingrediente.idIngrediente
            ) {

                <div
                    class="item-ingrediente"
                    (click)="seleccionarIngrediente(ingrediente)">

                    {{ ingrediente.desIngrediente }}

                </div>

            }

        </div>

    }

</div>

                </div>
                <div class="lg:col-3 col-12">

                    <div class="flex justify-content-between">
                        <label class="field-label">
                            Variedad
                        </label>
                    </div>

                    <p-select
                        formControlName="variedad"
                        [options]="listaVariedades"
                        optionLabel="desVariedad"
                        optionValue="idVariedad"
                        placeholder="Selecciona una opción"
                        class="w-full custom-dropdown ph-custom">
                    </p-select>

                </div>

                 <div class="lg:col-3 col-12">

                    <div class="flex justify-content-between">
                        <label class="field-label">
                            Uso
                        </label>
                    </div>

                    <p-select
                        formControlName="uso"
                        [options]="listaUsos"
                        optionLabel="desUso"
                        optionValue="idUso"
                        placeholder="Selecciona una opción"
                        class="w-full custom-dropdown ph-custom">
                    </p-select>

                </div>
                <div class="lg:col-3 col-12" style="display: flex; align-items: center; justify-content: center;">
                    <button
    pButton
    type="button"
    class="btn-agregar-ingrediente" [disabled]="ingredienteForm.invalid">
     <i class="pi pi-plus"></i>

    <i class="pi pi-plus"></i>

    <span>Agregar ingrediente</span>

</button>
                </div>
</article>
    </form>
        </div>
 </div>
<div>

  

</div>


</div>
