@layer app-components {
  :root {
    --p-toggleswitch-checked-background: #5FD350;
    --p-toggleswitch-handle-checked-hover-color: #5FD350;
    --p-toggleswitch-checked-hover-background: #5FD350;
  }

}
