
/* =========================================================
   COLUMNAS
   ========================================================= */

.col-no {

  width: 4%;
}

.col-ingrediente {

  width: 34%;
}

.col-variedad {

  width: 22%;
}

.col-uso {

  width: 24%;
}

.col-porcion {

  width: 8%;

  text-align: left;
}

.col-eliminar {

  width: 8%;

  text-align: center;
}
