.tabla-container {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}

/* =========================================================
   HEADER
   ========================================================= */

.div-header {
  background-color: #F4F7FC;
  border-radius: 12px 12px 0 0;
  min-height: 54px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

/* =========================================================
   TITULO
   ========================================================= */

.texto-header {
  font-size: 16px;
  font-weight: 600;
  color: #374957;
  line-height: 120%;
  letter-spacing: 0;
}


/* Icono */
.btn-nuevo-platillo .pi {
  font-size: 16px !important;
}

/* =========================================================
   TABLA
   ========================================================= */

:host ::ng-deep .p-datatable,
:host ::ng-deep .p-datatable-wrapper,
:host ::ng-deep .p-datatable-table {
  width: 100% !important;
}

:host ::ng-deep .p-datatable-table {
  border-collapse: collapse !important;
  table-layout: auto !important;
}


/* =========================================================
   SORT ICON PRIME
   ========================================================= */

:host ::ng-deep p-sorticon,
:host ::ng-deep .p-datatable-sort-icon,
:host ::ng-deep .p-datatable-sort-icon svg {
  display: none !important;
}

/* =========================================================
   CUSTOM SORT
   ========================================================= */

:host ::ng-deep .p-datatable-sortable-column {
  position: relative;
  padding-right: 18px !important;
}

:host ::ng-deep .p-datatable-sortable-column::after {

  content: '';

  width: 10px;
  height: 10px;

  position: absolute;

  right: 6px;
  top: 50%;

  transform: translateY(-50%);

  background: url('/assets/Images/arrows.png') no-repeat center;

  background-size: 10px 10px;

  opacity: 0.6;
}

:host ::ng-deep .p-datatable-sortable-column[aria-sort="ascending"]::after {
  background-image: url('/assets/Images/arrow_up.png');
}

:host ::ng-deep .p-datatable-sortable-column[aria-sort="descending"]::after {
  background-image: url('/assets/Images/arrowdown.png');
}

