.resumen-minuta {

    width: 98%;

    display: grid;

    grid-template-columns:
        80px
        repeat(5, 1fr);

    align-items: center;

    background: #FFFFFF;

    border-bottom: 3px solid #9BE5DE;
    padding-top:16px;
padding-left:16px;
padding-right:16px;
margin-bottom: 20px;
}

.item-icono {

    display: flex;

    justify-content: center;

    align-items: center;

    border-right: 1px solid #E5E7EB;

    height: 100%;
}

.circulo-icono {

    width: 44px;

    height: 44px;

    border-radius: 50%;

    background: #D8F5F0;

    display: flex;

    justify-content: center;

    align-items: center;
}

.icono {

    width: 22px;

    height: 22px;

    object-fit: contain;
}

.item-info {

    display: flex;

    flex-direction: column;

    justify-content: center;

    padding: 0 16px;

    border-right: 1px solid #E5E7EB;

    min-height: 50px;
}

.item-info:last-child {

    border-right: none;
}

.label {

    font-size: 14px;

    font-weight: 400;

    color: #8B95B7;

    margin-bottom: 4px;
    text-align: left !important;
    padding: 0;
}

.valor {

    font-size: 16px;

    font-weight: 500;

    color: #4B5563;
}