<div class="tabla-container">

    <!-- =====================================================
         HEADER
         ===================================================== -->

    <div class="div-header">

    <span class="texto-header">
        Resultado de la búsqueda
    </span>

    <p-button
    type="button"
    styleClass="btn-nueva-solicitud" (click)="nuevaSolicitud()">

    <i class="pi pi-pencil"></i>

    <span>Nueva solicitud</span>

</p-button>

</div>

    <!-- =====================================================
         TABLA
         ===================================================== -->

    <p-table
    #dt2
    [value]="datosPaginados"
    [customSort]="true"
    (sortFunction)="customSort($event)"
    responsiveLayout="scroll"
    styleClass="tabla-custom"
    [tableStyle]="{'min-width':'100%'}"
    [ngClass]="{ 'sin-header': !data.length }">

        <!-- =====================================================
             HEADER
             ===================================================== -->

        <ng-template pTemplate="header">

            <tr>

                <th pSortableColumn="folio">

                    <div class="header-column">

                        <span>Folio</span>

                        <p-sortIcon field="folio"></p-sortIcon>

                    </div>

                </th>

                <th pSortableColumn="fecha">

                    <div class="header-column">

                        <span>Fecha de registro</span>

                        <p-sortIcon field="fecha"></p-sortIcon>

                    </div>

                </th>

                <th pSortableColumn="estatus">

                    <div class="header-column">

                        <span>Estatus</span>

                        <p-sortIcon field="estatus"></p-sortIcon>

                    </div>

                </th>

                <th pSortableColumn="fechaActualizacion">

                    <div class="header-column">

                        <span>Última actualización</span>

                        <p-sortIcon field="fechaActualizacion"></p-sortIcon>

                    </div>

                </th>


              
                <th class="text-center">
                    Acciones
                </th>

            </tr>

        </ng-template>

        <!-- =====================================================
             BODY
             ===================================================== -->

        <ng-template
            pTemplate="body"
            let-rowData>

            <tr>

                <td>
                   <a href="#">{{ rowData.folio }}</a> 
                </td>

                <td>
                    {{ rowData.fecha | date:'dd/MM/yyyy'}}
                </td>

                <td>
                    
                
                 <span *ngIf="rowData.estatus === 'Aprobada'" class="badge-estatus badge-aprobada">
                    Aprobada
                </span>
                 <span *ngIf="rowData.estatus === 'Pendiente'" class="badge-estatus badge-pendiente">
                    Pendiente
                </span>
                 <span *ngIf="rowData.estatus === 'Rechazada'" class="badge-estatus badge-rechazada">
                    Rechazada
                </span>
                </td>

                <td>
                    {{ rowData.fechaActualizacion | date:'dd/MM/yyyy'}}
                </td>

              

                <!-- TOGGLE -->


                <!-- ELIMINAR -->

                <td class="text-center">

                    <div class="flex justify-content-center">

                        <img *ngIf="rowData.estatus === 'Aprobada'" src="/assets/Images/aprovado.png" alt="Aprobada">
                        <img *ngIf="rowData.estatus === 'Rechazada'" src="/assets/Images/rechazado.png" alt="Rechazada">

                        <div class="acciones-solicitud" *ngIf="rowData.estatus === 'Pendiente'">

    <button
        type="button"
        class="btn-aprobar" (click)="abrirModal()">

        <i class="pi pi-check"></i>

        <span>Aprobar</span>

    </button>

    <button
        type="button"
        class="btn-rechazar">

        <i class="pi pi-times"></i>

        <span>Rechazar</span>

    </button>

</div>
                        
                    </div>

                </td>

            </tr>

        </ng-template>

        <!-- =====================================================
             EMPTY
             ===================================================== -->

        <ng-template pTemplate="emptymessage">

            <tr>

                <td colspan="7">

                    <div class="empty-table">

                        <p class="sinResultados">
                            No hay resultados que coincidan con tu búsqueda
                        </p>

                    </div>

                </td>

            </tr>

        </ng-template>

    </p-table>

    <!-- =====================================================
         FOOTER PAGINADOR
         ===================================================== -->

    @if (totalPagesArray().length > 1) {

        <div class="footer-tabla">

            <div class="custom-paginator">

                <!-- ANTERIOR -->

                <button
    pButton
    type="button"
    class="btn-paginador"
    [disabled]="first() === 0"
    (click)="prev()">

    <i class="pi pi-chevron-left"></i>

    <span>Anterior</span>

</button>

                <!-- PAGINAS -->

                <div class="pages-container">

                    @for (
                        page of totalPagesArray();
                        track page
                    ) {

                        <div
                            class="pagina-item"
                            [class.active]="page === currentPage()"
                            (click)="goToPage(page)">

                            {{ page }}

                        </div>

                    }

                </div>

                <!-- SIGUIENTE -->

                <button
    pButton
    type="button"
    class="btn-paginador"
    [disabled]="first() + rows() >= totalRecords"
    (click)="next()">

    <span>Siguiente</span>

    <i class="pi pi-chevron-right"></i>

</button>

            </div>

        </div>

    }

</div>
