.inicio-sesion-form-body {
  padding: 0 24px 16px 24px;
}

.inicio-sesion-form-footer {
  padding: 16px 24px;
  background-color: #F1F4FD;
  border-top: #E2E2E2 solid 1px;
  border-bottom-radius: 12px;
}

.inicio-sesion-form-header {
  padding: 16px 0;
  border-bottom: #E2E2E2 solid 1px;
}

.inicio-sesion-form-titulo {
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
}

.titulo-inicio-sesion {
  font-size: 48px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0;
  color: #FFF;
}
