@use "primeflex/primeflex.css";
@use 'assets/scss/index';
@use 'assets/custom-primeng/index' as custom;

@layer app-components {

  :root {
    --surface-ground: var(--surface-placa);
  }

  html,
  body {
    height: 100%;
    font-size: 12px;
    margin: 0;
    background-color: var(--p-surface-100);
  }
}
