@if (visible()) {
  <div class="wrapper-menu-pantalla">
    <p-menu [model]="items" styleClass="p-0 ul-p-0">
      <ng-template #submenuheader let-item>
        @if (item.label) {
          <span class="sub-menu-interno">{{ item.label }}</span>
        }
      </ng-template>
      <ng-template #item let-item>
        <a pRipple class="flex align-items-center cursor-pointer no-decoration anchor-interno gap-3"
           [class]="item.linkClass" [routerLink]="item.routerLink">
          <span [class]="item.icon" class="icon-interno"></span>
          <span class="item-interno">{{ item.label }}</span>
        </a>
      </ng-template>
    </p-menu>
  </div>
}
